<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            Components
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ul>
            <li>  <a href="/Grid/">Grid</a> </li>
            <li>  <a href="/Window/">Window</a> </li>
        </ul>
    </section>
</div>
