<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            Components | Window
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
            


    </section>
</div>
